<app-back></app-back>

<ul>
  <span *ngFor="let question of questions">
    <li *ngIf="currentQuestion === question.id">
      <label for="q-{{question.id}}">Questão {{question.id+1}} {{question.description}}</label>
      <br>
      <span id="q-{{question.id}}" *ngFor="let answer of question.answers">
        <button id="answer-q-{{answer.id}}" class="btn" (click)="nextQuestion(answer.id)">{{answer.id}}</button>
        <label for="answer-q-{{answer.id}}">{{answer.description}}</label>
        <br>
      </span>
      <br>
    </li>
  </span>
</ul>

<div *ngIf="currentQuestion === 5">
  <p>Pontuação: {{score}}</p>
</div>
