<app-back></app-back>
<div>
  <hr>
  <fieldset>
    <legend style="font-size: 2em;">Informações</legend>
    <form>

      <label for="nome">Nome: </label>
      <input class="dracula" type="text" name="nome" id="t-nome">
      <br>

      <label for="radios-generio">Gênero:</label>
      <div id="radios-generio">
        <input type="radio" name="genero" id="r-g-masc">
        <label for="r-g-masc">Masculino</label> <br>
        <input type="radio" name="genero" id="r-g-fem">
        <label for="r-g-masc">Feminino</label> <br>
        <input type="radio" name="genero" id="r-g-outro">
        <label for="r-g-masc">Outro</label> <br>
      </div> <br>

      <input type="checkbox" name="casado" id="cb-casado">
      <label for="casado">Casado/a?</label> <br>

      <input class="button dracula" type="submit" name="submit-info" id="submit-btn" value="Enviar">

    </form>
  </fieldset>
</div>
