@import "prismjs/plugins/toolbar/prism-toolbar.css";
@import "dracula-prism/dist/css/dracula-prism.css";
@import "/dracula-material-theme";

@font-face {
  font-family: "Tex Gyre Adventor";
  src: url("assets/fonts/texgyreadventor-regular.otf");
}

@font-face {
  font-family: "Tex Gyre Adventor";
  src: url("assets/fonts/texgyreadventor-bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Tex Gyre Adventor";
  src: url("assets/fonts/texgyreadventor-italic.otf");
  font-style: italic;
}

@font-face {
  font-family: "Tex Gyre Adventor";
  src: url("assets/fonts/texgyreadventor-bolditalic.otf");
  font-weight: bold;
  font-style: italic;
}

$background: #282a36;
$current-line: #44475a;
$foreground: #f8f8f2;
$comment: #6272a4;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

* {
  font-family: Tex Gyre Adventor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color-scheme: light dark;
}

body {
  color: $foreground;
  background-color: $background;
  box-sizing: border-box;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
  text-align: justify;
  height: 100%;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.main {
  width: min(70ch, 100% - 4rem);
  margin-inline: auto;
}

img,
svg,
video {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  line-height: 125%;
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $background;
}

.codigo {
  * {
    font-family: monospace;
    font-size: 1rem;
  }
  .copy-to-clipboard-button {
    width: 100%;
    height: 0;
  }
  .line-numbers-rows {
    margin-left: 50px;
  }
}

button[mat-flat-button] {
  border-radius: 0;
  padding: 30px;
}

.btn-menu {
  width: 100%;
  font-size: large;
}

.li-menu {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

hr {
  color: $current-line;
}

fieldset {
  border: 1px solid $current-line;
}

legend {
  font-size: medium;
}

a {
  color: $pink;
  &:visited {
    color: $purple;
  }
}
